<div>
    <div>
        <h1>PERFIL DEL USUSARIO</h1>
        <ul class="list-group" style="width: 50%; margin: auto;">
        <li class="list-group-item">
            <strong>ID:</strong>{{user.idUsuario}}
        </li>
        <li class="list-group-item">
            <strong>Nombre:</strong>{{user.nombre}}
        </li>
        <li class="list-group-item">
            <strong>Email:</strong>{{user.email}}
        </li>
        <li class="list-group-item">
            <strong>Pass:</strong>{{user.pass}}
        </li>
    </ul>

    </div>
</div>